<h1>Add products to your cart</h1>

<%= form_tag("/add", method: "post") do %>
  <%= label(:product, "Product:") %>
  <%= text_field(:product) %>
  <%= submit_tag("add to cart") %><br /><br />
<% end %>

<% unless @cart.empty? %>
  <h2>Cart:</h2>
  <ul>
    <%= @cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
  </ul>
<% end %>
